 <!DOCTYPE html>
 <html lang="en">
 
 <body>
 <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 </head>
 <div class="container">
  <h1 align="center">Welcome To HealthCareSystem Application</h1>
 <br>

 <nav class="navbar navbar-dark bg-secondary"> 
    <ul class="nav nav-pills">
      <li class="nav-item item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/addcentre" class="nav-link"><B>AddTest</B></a>
      </li>
      <li class="nav-item item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link"><B>RemoveTest</B></a>
      </li>
      
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link"><B>Login</B></a></li>
    </ul>
  </nav>
  </div>